body{
    background: linear-gradient(to bottom right, blue, rgb(29, 197, 248), blue, rgb(29, 197, 248), blue , rgb(29, 197, 248));
    font-family: 'Mukta', sans-serif;
    font-size:40px;
    
}
#capa1 {
    width: 250px;
    height: 100px;
    border: 2px solid black;
    text-align:center;
    
    font-size: xx-large;

    
    }

    .aBk {
        position:static;
        bottom: 1000px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 10px;
        background-color: black;
        color:burlywood;
        font-size: 20px;
    }
#effect{
    margin: 12px 0px; width: 260px; height: 112px; position: relative; left: -0.000375px; top: 0px;
    font-size: large;
    background-color: cornsilk;
    color: black;


}
#dropzone {
    top: 150px;
    width: 200px;
    height: 200px;
    background: cyan;
    border: solid 1px;
}
h1{
    text-align: center;
    font-size:50px;
    margin: 10px 300px;
    display: flex; justify-content: center;

    
}
h2{
    font-size:50px;
    background-color: black;
    margin: 10px 300px;
    display: flex; justify-content: center;
    color:white;
  
}
p{
    color:white
}
img{
    display:block;margin:0 auto 0 auto;
}
#arrastrable{
    cursor: pointer;
}
#css-acordeon{
    color: black;
}

#clickAction{
    background:red;
    border-radius:3px;
    color:white;
    cursor:pointer;
    padding:1em;
  }
  #clickAction.blue{
    background:blue;
  }