body{
    background-color:rgb(50, 132, 160) ;
    font-family: 'Mukta', sans-serif;
    font-size:40px;
}
h1{
    text-align: center;
    font-size:50px;
}
img{
    display:block;margin:0 auto 0 auto;
}
#arrastrable{
    cursor: pointer;
}

#clickAction{
    background:red;
    border-radius:3px;
    color:white;
    cursor:pointer;
    padding:1em;
  }
  #clickAction.blue{
    background:blue;
  }